@import "__resetSetting";
@import "__basicMixin.scss";
@import "__basicModal.scss";
@import "__header.scss";

.form__SignUp{
    padding: 30px;
    transition: all ease-in 0.3s 600ms;
}
.modalEntrance__btn-LogIn{
    border: 2px solid #e3e3e3;
    color: #cacaca;
    background: transparent;
    transition: all ease-in 500ms;
    &:hover{
        border: 2px solid #ed2553;
        color: #ed2553;
    }
}
.modalEntrance__btn-SignUp{
    background:$clWhite;
    color: #ed2553;
    border-radius: 10px;
}
.close{
    cursor: pointer;
    &::before{
        content: "Х";
        align-self: flex-end;
        font-weight: 600;
    }
}
.form__SignUp-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        bottom: -12px;
        left: 5px;
        width: 20%;
        height: 2px;
        background: #ffffff;
    }
}
.form__LogIn-title{
    display:inline-flex;
    justify-content: center;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        left: 5px;
        bottom: -12px;
        width: 70%;
        height: 2px;
        background:#362B56;
    }
}

.toggle{
    cursor: pointer;
    position: absolute;
    background: url("../img/icon/addition.png") no-repeat center #ed2553;
    top: 0;
    right: -56px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
}

.toggle__active{
    cursor: auto;
    top: 0;
    right: 0;
    width: 100%;
    height: 105%;
    background: #ed2553;
    border-radius: 12px;
}

.form__active{
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
}
.hidden__active{
    display: none;
}
.correct__data{
    border: 2px solid green;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}
// .block
.title{
    color:white;
    text-align: center;
}
.container{
    @include container(1200px)
}
@keyframes like_beat{
    0% {
        width: 80px;
        height: 80px;
    }
    60% {
        width: 100px;
        height: 100px;
    }
}

// Modal Избранного
.modalFavorites{
    background: rgba(0, 0, 0, 0.915);
    &__content{
        width: 450px;
        height: 400px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $clWhite;
        box-shadow: none;
        position: static;
        border: 1px solid #ffffff2c;
    }
    &__close{
        top: 4%;
        right: 5%;
        color: $clWhite;
        font-weight: 600;
    }
    &__title{
        font-size: 25px;
        margin-bottom: 10px;
    }
    &__wrapper{
        height: 90%;
        border-radius: 15px;
        padding: 15px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    &__list {
        height: 100%;
        overflow-x: scroll;
        display: flex;
        scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
        &::-webkit-scrollbar {
            height: 14px;
            width: var(--scrollbarWidth);
        }
        &::-webkit-scrollbar-track {
            background: var(--scrollbarBg);
            border-radius: 6px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--scrollbarThumb);
            border-radius: 6px;
            border: 3px solid var(--scrollbarBg);
        }
    }
    &__sabtitle{
        font-size: 20px;
        margin-top: 5px;
    }
    &__item {
        margin-right: 20px;
    }
    &__img {
        width: 150px;
        height: 202px;
        &-item{
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    }
}
//Modal Уведомления
.modalNotification {
    background: rgba(0, 0, 0, 0.915);
    &__content {
        width: 450px;
        height: 400px;
        background: $clWhite;
        border: 1px solid #ffffff2c;
        border-radius:8px;
        box-shadow: rgba(255, 255, 255, 0.75) 0px 5px 15px;
    }
    &__title {
        font-size: 25px;
        margin-top: 10px;
    }
    &__success-top {
        height: 50%;
        width: 100%;
        background: #8CC248;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    &__success-bottom{
        text-align: center;
        margin-top: 50px;
    }
    &__text{
        color: rgba(0, 0, 0, 0.716);
        font-size: 18px;
        line-height: 23.4px;
        letter-spacing: 2.5px;
    }
    &__btn{
        background: #8CC248;
        padding: 15px 0;
        width: 60%;
        margin-top: 8%;
        box-shadow: -7px 4px 20px 0px #8CC248;
        &:hover{
            background:#8bc248c2 ;
            box-shadow: none;
        }
    }
}


// Modal входа
.modalEntrance{
    &__content{
        width: 450px;
        background: $clWhite;
        box-shadow: none;
        position: relative;
        padding: 30px;
    }
    &__close{
        top: 4%;
        right: 5%;
        color: $clWhite;
        font-weight: 600;
    }
    &__group{
        display: flex;
        justify-content: space-between;
        &_choice{
            width: 50%;
            font-size:  22px;
            padding: 15px 0;
            cursor: pointer;
            color: black;
            transition: all 500ms ease-in-out;
            box-shadow: #1992d497 0px 30px 60px -12px inset, #0f5276d6 0px 18px 36px -28px inset;
            &:hover{
                color:$clWhite;
                background:#1266977b;
            }
        }
        &_active{
            color:$clWhite;
            background: #127FBF;
            &:hover{
                background: #1992d4c0;
            }
        }
        
    }
}
// form
.error__data{
    position: relative;
    &::before{
        content: "Ошибка!Проверьте все введеные данные";
        position: absolute;
        z-index: 1000;
        left: 101%;
        top: 7px;
        font-size: 18px;
        color: #f0f4f8;
        background: #ff0000c2;
        white-space: nowrap;
        border-radius: 15px;
        padding: 10px
    }
}

.form {
    &__item {
        margin-bottom: 20px;
    }
    &__title{
        font-size: 36px;
        text-align: left;
        margin: 0 0 50px 0;
    }
    &__label{
        display: block;
        font-size: 18px;
    }
    &__input {
        background: #F0F4F8;
        height: 50px;
        width: 100%;
        border-radius: 15px;
        padding: 0 12px;
        font-size: 18px;
        transition: all 500ms ease-in-out;
        &:focus{
            box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
        }
        &::placeholder{
            font-size: 18px;
        }
    }
    &__item_email{
        position: relative;
    }
    .password{
        padding: 0 74px 0 12px;
    }
    &__item_password {
        position: relative;
    }
    .label__password{
        @extend %formError;
    }
    .form__item_email{
        position: relative;
    }
    .label__email{
        @extend %formError;
    }
    .form__item_login{
        position: relative;
    }
    .label__login{
        @extend %formError;
    }
    .label__confirmPassword{
        @extend %formError;
    }
    &__password{
        position: relative;
    }
    &__counterText{
        font-size: 17px;
        position: absolute;
        bottom: -23px;
        right: 8px;
    }
    &__passwordImg{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        top: 0;
        right: 0;
        bottom: 0;
        width: 70px;
    }
}

.modalEntrance__btn {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
    margin: 0 auto;
    font-size: 20px;
    width: 60%;
    padding: 20px 0;
    cursor:not-allowed;
    transition: all 500ms ease-in-out;
    
}

// slider
.slider__navigation{
    display: flex;
    justify-content: center;
}
.slider__btn{
    width: 150px;
    padding: 5px 0;
    border-radius: 10px;
    box-shadow: 2px 3px 5px $clPurple;
    color: $clWhite;
    font-size: 20px;
    margin: 14px;
    transition:all 800ms ease-in-out 0s;
    &:hover{
        color:black;
        background: rgba(255, 255, 255, 0.479);
        box-shadow: 2px 3px 5px $clPurple;
    }
}
